.jumbotron {
        background-image: url(https://image.freepik.com/free-vector/abstract-background_53876-43362.jpg);
        background-size: cover;
        min-height: 600px; 
        font-family: 'Indie Flower', cursive;  
                /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover; */ 
        /* padding-top: 15px; */
        }

            @media only screen and (max-width: 600px) {
        .jumbotron  {
        background-image: url(https://image.freepik.com/free-vector/abstract-background_53876-43362.jpg);
        }
        }
        .imageBody  {
        /* width: 300px; */
        /* height: 250px; */
        align-content: center;
        /* margin-left: 850px; */
        /* margin-top: 100px; */
        /* margin-bottom: 300px; */
        padding-top: 15px;
        }
        #image {
            width: 250px;
            height: 250px;

        }
        
        .bg-text {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            font-size: 80px;
            border: 10px solid #f1f1f1;
            position: center;
            top: 50%;
            left: 50%;
            /* transform: translate(-50%, -50%); */
            z-index: 2;
            width: 500px;
            padding: 20px;
            /* margin-top: 150px; */
            text-align: center;
            }